#myTable th{
    text-align: center;
    padding: 0;
}

#nameThrowing {
    writing-mode: vertical-lr;
    -ms-writing-mode: tb-rl;
    transform: rotate(180deg);
}

#nomSq2{
    vertical-align: middle;
    width: 33px;
}

.borde-derecho{
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: currentcolor;
}