{% extends 'base.html' %}
{% load static %}

{% block title %}Registrar Datos{% endblock %}

{% block customcss %}
<link href="{% static 'css/app_data/enter_data.css' %}" rel="stylesheet">
{% endblock %}

{% block pagecontent %}
{% if messages %}
<div class="text-center">
    {% for message in messages %}
    {% if message.tags == 'error' %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% else %}
    <div class="alert alert-{{ message.tags }}" role="alert">
        {{ message }}
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endif %}
<div class="row">
    <div class="d-flex col-md-12 justify-content-center">
        <h1 class="text-primary">Registrar Secuencia</h1>
    </div>
</div>
<div class="row justify-content-center mt-2">
    <div class="col-md-6">
        <form enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <div class="row g-2">
                <div class="col-md-12">
                    <div class="form-floating">
                        {{ form.name }}
                        <label for="floatingName">Nombre del Organismo</label>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-floating">
                        {{ form.header}}
                        <label for="floatingHeader">Encabezado</label>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-floating">
                        {{ form.sequence }}
                        <label for="floatingSequence">Secuencia</label>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-floating">
                        {{ form.description }}
                        <label for="floatingDescription">Descripcion</label>
                    </div>
                </div>
                <div class="col-md-12">
                    {{ form.image }}
                </div>
                <div class="d-flex col-md-12 justify-content-start">
                    <button type="submit" name="register_organism" class="btn btn-sm btn-success">Registrar</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block customjs %}
{% endblock %}