{% extends 'base.html' %}

{% block title %}Actualizar Datos{% endblock %}

{% block css %}
{% endblock %}

{% block pagecontent %}
{% if messages %}
<div class="text-center">
    {% for message in messages %}
    {% if message.tags == 'error' %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% else %}
    <div class="alert alert-{{ message.tags }}" role="alert">
        {{ message }}
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endif %}
<div class="row">
    <div class="col-md-12">
        <h1 class="text-primary">Lista de Secuencias</h1>
    </div>
</div>
{% if organisms %}
<div class="organism-list">
    <form method="post">
        {% csrf_token %}
        <div class="accordion accordion-flush" id="accordionFlushOrganism">
            {% for organism in organisms %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading{{ organism.identificator }}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapse{{ organism.identificator }}" aria-expanded="false"
                        aria-controls="flush-collapse{{ organism.identificator }}">
                        Organismo {{ organism.name }}
                    </button>
                </h2>
                <div id="flush-collapse{{ organism.identificator }}" class="accordion-collapse collapse"
                    aria-labelledby="flush-heading{{ organism.identificator }}"
                    data-bs-parent="#accordionFlushOrganism">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="text-primary">{{ organism.identificator }}</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="text-primary">{{ organism.name }}</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="text-primary">{{ organism.header }}</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>{{ organism.description }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <h3 class="text-primary">Secuencia</h3>
                            <div class="col-md-12">
                                <p>{{ organism.sequence }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <h3 class="text-primary">Longitud Secuencia</h3>
                            <div class="col-md-12">
                                <p>{{ organism.length_secuence }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {% if organism.image %}
                                <img src="{{ organism.image.url }}" alt="{{ organism.name }}" loading="lazy"
                                    class="img-responsive">
                                {% else %}
                                <p>No existe imagen para este organismo.</p>
                                {% endif %}
                            </div>
                        </div>
                        <hr>
                        <button class="btn btn-danger float-right" type="submit" name="delete"
                            value="{{organism.pk}}">Eliminar
                            Organismo</button>
                        <a class="btn btn-primary float-right"
                            href="{% url 'app_data:update-organism' identificator=organism.identificator action='update' %}">Actualizar
                            Organismo</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </form>
</div>
{% endif %}
{% endblock %}

{% block customjs %}
{% endblock %}