{% extends 'base.html' %}

{% block title %}Registrar Datos{% endblock %}

{% block css %}

{% endblock %}

{% block pagecontent %}
<div class="row">
    <div class="col-md-12">
        <h1 class="text-primary">Actualizar el organismo {{ organism.identificator }}</h1>
    </div>
    <div class="form-control">
        <form enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <input class="form-control" type="text" placeholder="Ingrese el identificador"
                value="{{organism.identificator | stringformat:'i'}}" name="identificator" id="identificator" required>
            <input class="form-control" type="text" placeholder="Ingrese el nombre" maxlength="30"
                value="{{organism.name}}" name="name" id="name" required>
            <input class="form-control" type="text" placeholder="Ingrese la descripcion" maxlength="500"
                value="{{organism.description}}" name="description" id="description" required>
            <input class="form-control" type="text" placeholder="Ingrese la secuencia" maxlength="60"
                value="{{organism.sequence}}" name="sequence" id="sequence" required>
            <input class="form-control" type="file" placeholder="Carque aqui su imagen" accept=".jpg" name="image">
            <button class="btn btn-success" type="submit" name="update_organism">Actualizar</button>
            <a class="btn btn-danger" href="{% url 'app_data:list-data' %}">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}

{% block customjs %}
{% endblock %}