{% extends 'base.html' %}
{% load static %}

{% block title %}Registrar Datos{% endblock %}

{% block customcss %}
<link href="{% static 'css/app_data/update_data.css' %}" rel="stylesheet">
{% endblock %}

{% block pagecontent %}

<div class="row">
    <div class="d-flex col-md-12 justify-content-center">
        <h1 class="text-primary">Actualizar el organismo {{ organism.identificator }}</h1>
    </div>
</div>
<div class="row justify-content-center mt-2">
    <div class="col-md-6">
        <form enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <div class="row g-2">
                <div class="col-md-12">
                    <div class="form-floating">
                        <input class="form-control" id="floatingName" value="{{organism.name}}" type="text"
                            placeholder="Ingrese el nombre" required>
                        <label for="floatingName">Nombre del Organismo</label>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-floating">
                        <input class="form-control" id="floatingHeader" value="{{organism.header}}" type="text"
                            placeholder="Ingrese el encabezado" required>
                        <label for="floatingHeader">Encabezado</label>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-floating">
                        <input class="form-control" id="floatingSequence" value="{{organism.sequence}}" type="text"
                            placeholder="Ingrese la secuencia" required>
                        <label for="floatingSequence">Secuencia</label>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-floating">
                        <textarea class="form-control" id="floatingDescription" type="text"
                            placeholder="Ingrese una descripcion" required>
                            {{organism.description}}
                        </textarea>
                        <label for="floatingDescription">Descripcion</label>
                    </div>
                </div>
                <div class="col-md-12">
                    <input class="form-control" type="file" accept=".jpg" placeholder="Cargue aqui su imagen" required>
                </div>
                <div class="d-flex col-md-12 justify-content-start">
                    <button class="btn btn-sm btn-success me-2" type="submit" name="update_organism">Actualizar</button>
                    <a class="btn btn-sm btn-danger" href="{% url 'app_data:list-data' %}">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block customjs %}
{% endblock %}