{%load static%}
{% load i18n %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - BioInformatica</title>
    <link rel="icon" type="img/png" href="https://img.icons8.com/emoji/96/000000/dna.png">
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <!--Custom css-->
    {% block customcss %}
    {% endblock %}
</head>

<body>
    <header>
        <nav class="navbar sticky-top navbar-expand-md navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand h-100 p-0" href="/">
                    <img src="https://img.icons8.com/emoji/96/000000/dna.png" alt="" width="30" height="100%"
                        class="d-inline-block align-text-center">
                    BioInformatica
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link active dropdown-toggle py-0" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                {% trans 'Secuencias' %}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" href="{% url 'app_data:enter-data' %}">
                                        {% trans 'Registrar' %}
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'app_data:list-data' %}">
                                        {% trans 'Lista' %}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as lang %}
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {% if LANGUAGE_CODE == 'es' %}
                        <img src="https://img.icons8.com/color/96/000000/spain-circular.png" height="24" />
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li>
                            <a class="dropdown-item" href="/en/">
                                <img src="https://img.icons8.com/color/96/000000/usa-circular.png" height="24" />
                            </a>
                        </li>
                    </ul>
                    {% elif LANGUAGE_CODE == 'en' %}
                    <img src="https://img.icons8.com/color/96/000000/usa-circular.png" height="24" />
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li>
                            <a class="dropdown-item" href="/es/">
                                <img src="https://img.icons8.com/color/96/000000/spain-circular.png" height="24" />
                            </a>
                        </li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>

    <!--Page Content-->
    <div class="container my-3">
        {% block pagecontent %}
        {% endblock %}
    </div>

    <footer class="container-fluid bg-primary fixed-bottom" style="position: relative;bottom: 0;">
        <div class="row">
            <div class="col-md-12">
                <p class="text-white text-center m-0">&copy; Copyright 2022. Diseñado por Miguel Ramirez & Daniel López
                    |
                    Bogotá D.C - Colombia</p>
                <a target="_blank" href="https://icons8.com/icon/MRQWA3gxIrCt/spain"></a>
            </div>
        </div>
    </footer>

    <!--JS Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    <!--Custom js-->
    {% block customjs %}
    {% endblock %}
</body>

</html>