{% extends 'base.html' %}
{%load static%}

{% block title %}Alineamientos{% endblock %}

{% block customcss %}
{% endblock %}

{% block pagecontent %}
<div class="row">
    <div class="col-md-6">
        <div class="d-flex row justify-content-start">
            <div class="col-md-8">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <button class="nav-link active" id="graphic-tab" data-bs-toggle="tab"
                            data-bs-target="#graphic-tab-pane" type="button" role="tab" aria-controls="graphic-tab-pane"
                            aria-selected="true">
                            Manual
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" id="twoPhase-tab" data-bs-toggle="tab"
                            data-bs-target="#twoPhase-tab-pane" type="button" role="tab"
                            aria-controls="graphic-tab-pane" aria-selected="true">
                            Fasta
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="graphic-tab-pane" role="tabpanel"
                        aria-labelledby="graphic-tab">
                        <div class="row mt-3">
                            <div class="d-flex col-md-12 justify-content-center">
                                <form action="" class=" needs-validation">
                                    <div class="row g-3">
                                        <div class="col-md-12">
                                            <div class="input-group input-group-sm">
                                                <input id="" class="form-control form-control-sm" type="text"
                                                    placeholder="Secuencia" maxlength="60"
                                                    onkeypress="return validarBases(event)" required />
                                                <span id="count1" class="input-group-text text-danger">0</span>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="twoPhase-tab-pane" role="tabpanel" aria-labelledby="twoPhase-tab">
                        <h3>Mundo</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">

    </div>
</div>
{% endblock %}

{% block customjs %}
{% endblock %}