{% extends 'base.html' %}
{%load static%}

{% block title %}Alineamientos{% endblock %}

{% block customcss %}
<link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
<script defer src="https://pyscript.net/alpha/pyscript.js"></script>
<link href="{% static 'css/app_align/align.css' %}" rel="stylesheet">
<script>
    function inner_id() {
        console.log(document.getElementById('list_organism').value);
        document.getElementById('seq_fasta1').value = document.getElementById('list_organism').value;
        document.getElementById('lower_fasta1').disabled = false;
        document.getElementById('upper_fasta1').disabled = false;
        document.getElementById('upper_fasta1').max = document.getElementById('list_organism').value.length;
    }

    function inner_ids() {
        console.log(document.getElementById('list_organism2').value);
        document.getElementById('seq_fasta2').value = document.getElementById('list_organism2').value;
        document.getElementById('lower_fasta2').disabled = false;
        document.getElementById('upper_fasta2').disabled = false;
        document.getElementById('upper_fasta2').max = document.getElementById('list_organism2').value.length;
    }

    function enable_disable() {
        if (document.getElementById('Radios1').checked == true) {
            document.getElementById('seq_manual1').disabled = true;
            document.getElementById('list_organism2').disabled = true;
            document.getElementById('fasta2').disabled = false;
        }
        else if (document.getElementById('Radios2').checked == true) {
            document.getElementById('seq_manual1').disabled = false;
            document.getElementById('list_organism2').disabled = true;
            document.getElementById('fasta2').disabled = true;
        }
        else if (document.getElementById('Radios3').checked == true) {
            document.getElementById('seq_manual1').disabled = true;
            document.getElementById('list_organism2').disabled = false;
            document.getElementById('fasta2').disabled = true;
        }
    }
</script>
<script src="{% static 'js/app_align/slider.js' %}"></script>
<script src="{% static 'js/app_align/fasta.js' %}"></script>
<py-script src="{% static 'py/fasta.py' %}"></py-script>
{% endblock %}

{% block pagecontent %}
<div class="text-center">
    <div class="alert alert-info">
        <strong>¡Bienvenido!</strong>
        <strong>¡Importante!</strong>, seleccione de acuerdo a su necesidad el alineamiento que desea realizar.
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-5 mx-1">
        <h2 class="h3 text-primary text-center">Alineamientos</h2>
        <br><br>
        <div class="radio_1_container text-center">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="manual_radio"
                    value="option1">
                <label class="form-check-label" for="manual_radio">Manual</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="fasta_radio" value="option2">
                <label class="form-check-label" for="fasta_radio">Carga FASTA</label>
            </div>
        </div>
        <br>
        <div class="alert_select" id="alert_select">
            <div class="alert alert-danger">
                <strong>¡Importante!</strong> Seleccione una de las opciones.
            </div>
        </div>
        <div class="input_cont">
            <input class="form-control" type="text" placeholder="Ingrese la secuencia..." id="manual_input"
                style="display:none;" maxlength="60">
            <input class="form-control" type="file" name="fasta" id="fasta_input" accept=".fasta" style="display:none;">
        </div>
        <br>
        <!--Alert sequence 2-->
        <div id="data1_input" style="display:none;">
            <div class="text-center">
                <div id="fasta_head"></div>
                <div class="alert alert-info" id="manual_alert_input">
                    <div class="text-danger" id="manual_alert_label"></div>
                    <h5>Secuencia:</h5>
                    <input class="form-control" type="text" id="data1_dinput" value="Sin Datos" disabled>
                </div>
            </div>
        </div>
        <br><br>
    </div>
    <div class="col-md-5 mx-1" id="config_align_container" style="display:none;">
        <h2 class="h3 text-primary text-center">Configuracion del Alineamiento</h2>
        <br>
        <br>
        <div class="radio_2_container text-center">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="bd_radio" value="option1">
                <label class="form-check-label" for="bd_radio">Comparar con base de datos</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="seq_radio" value="option2">
                <label class="form-check-label" for="seq_radio">Comparar con una secuencia</label>
            </div>
        </div>
        <br>
        <div class="alert_select2" id="alert_select2">
            <div class="alert alert-danger">
                <strong>¡Importante!</strong> Seleccione una de las opciones.
            </div>
        </div>
        <div id="bd_choice" style="display: none;">
            <div id="bd_slider">
                <span>Secuencia Cargada:</span>
                <br>
                <span class="multi-range">
                    <input type="range" min="1" max="59" value="1" id="bd_slider1_min">
                    <input type="range" min="2" max="60" id="bd_slider1_max">
                </span>
                <br><br>
                <span>Base de Datos:</span>
                <br>
                <span class="multi-range">
                    <input type="range" min="1" max="59" value="1" id="bd_slider2_min">
                    <input type="range" min="2" max="60" id="bd_slider2_max">
                </span>
            </div>
            <br><br><br>
            <div class="text-center" id="bd_buttons">
                <button class="btn btn-primary" id="bd_btn_global" data-bs-toggle="modal"
                    data-bs-target="#resultajaxModal" disabled>Alineamiento Global</button>
                <button class="btn btn-primary" id="bd_btn_local" data-bs-toggle="modal"
                    data-bs-target="#resultajaxModal" disabled>Alineamiento Local</button>
            </div>
        </div>
        <br>
        <div id="seq_choice" style="display: none;">
            <div id="seq_dropdown">
                <select class="form-select" aria-label="Default select example" onChange="inner_ids();"
                    id="list_organism2">
                    <option selected>Seleccione el organismo...</option>
                    {% for organism in organisms %}
                    <option value="{{ organism.sequence }}">
                        {{ organism.identificator }} - {{ organism.name }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <div id="seq_slider">
                <span>Secuencia Cargada:</span>
                <br>
                <span class="multi-range">
                    <input type="range" min="1" max="59" value="1" id="seq_slider1_min">
                    <input type="range" min="2" max="60" id="seq_slider1_max">
                </span>
                <br><br>
                <span>Organismo Seleccionado:</span>
                <br>
                <span class="multi-range">
                    <input type="range" min="1" max="59" value="1" id="seq_slider2_min">
                    <input type="range" min="2" max="60" id="seq_slider2_max">
                </span>
            </div>
            <br><br><br>
            <div class="row">
                <div class="col-md-12 d-flex justify-content-around" id="seq_buttons">
                    <button class="btn btn-sm btn-primary" id="seq_btn_global" data-bs-toggle="modal"
                        data-bs-target="#resultModal">Alineamiento Global</button>
                    <button class="btn btn-sm btn-primary" id="seq_btn_local" data-bs-toggle="modal"
                        data-bs-target="#resultModal">Alineamiento Local</button>
                    <button class="btn btn-sm btn-primary" id="seq_btn_dotplot" data-bs-toggle="modal"
                        data-bs-target="#resultModal">Dotplot</button>
                    <button class="btn btn-sm btn-primary" id="seq_btn_naw" data-bs-toggle="modal"
                        data-bs-target="#resultModal">N&W</button>
                </div>
            </div>
            <br>
            <div class="text-center">
                <div class="alert alert-success">
                    <p id="alert_seq2_fasta2">Sin Datos</p>
                    <h5>Secuencia:</h5>
                    <input class="form-control" type="text" id="seq_fasta2" value="Sin Datos" disabled>
                </div>
            </div>
        </div>
        <br><br>
    </div>
</div>

<!-- Modal BD -->
<div class="modal fade" id="resultajaxModal" tabindex="-1" aria-labelledby="resultajaxModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="resultajaxModalLabel">Con base de datos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h2 class="h2 text-center text-primary">Resultados</h2>
                <div id="modal_body_result">
                    <div class="d-flex align-items-center">
                        <strong>Loading...</strong>
                        <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="resultModal" tabindex="-1" aria-labelledby="resultModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="resultModalLabel">Resultados</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row" id="modal_body_content">

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
<script>
    function inner_id() {
        console.log(document.getElementById('list_organism').value);
        document.getElementById('seq_fasta1').value = document.getElementById('list_organism').value;
        document.getElementById('lower_fasta1').disabled = false;
        document.getElementById('upper_fasta1').disabled = false;
        document.getElementById('upper_fasta1').max = document.getElementById('list_organism').value.length;
    }

    function inner_ids() {
        console.log(document.getElementById('list_organism2').value);
        document.getElementById('seq_fasta2').value = document.getElementById('list_organism2').value;
        document.getElementById('lower_fasta2').disabled = false;
        document.getElementById('upper_fasta2').disabled = false;
        document.getElementById('upper_fasta2').max = document.getElementById('list_organism2').value.length;
    }

    function enable_disable() {
        if (document.getElementById('Radios1').checked == true) {
            document.getElementById('seq_manual1').disabled = true;
            document.getElementById('list_organism2').disabled = true;
            document.getElementById('fasta2').disabled = false;
        }
        else if (document.getElementById('Radios2').checked == true) {
            document.getElementById('seq_manual1').disabled = false;
            document.getElementById('list_organism2').disabled = true;
            document.getElementById('fasta2').disabled = true;
        }
        else if (document.getElementById('Radios3').checked == true) {
            document.getElementById('seq_manual1').disabled = true;
            document.getElementById('list_organism2').disabled = false;
            document.getElementById('fasta2').disabled = true;
        }
    }
</script>
{% block customjs %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{% static 'js/app_align/slider.js' %}"></script>
<script src="{% static 'js/app_align/fasta.js' %}"></script>
<script src="{% static 'js/app_align/manual_input.js' %}"></script>
<script src="{% static 'js/app_align/choices.js' %}"></script>
<script src="{% static 'js/app_align/bd_align.js' %}"></script>
{% endblock %}